@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

body {
  font-family: 'Inter', sans-serif;
}


/* Custom Calendar Styles Start */

.custom-calendar {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #1d4ed8; /* Blue-600 */
  --rdp-background-color: transparent;
  font-size: 14px;
}

.custom-calendar .rdp-button_reset {
  font-weight: 500;
}

.custom-calendar .rdp-day_selected:not([disabled]) {
  background-color: #1d4ed8;
  color: white;
}

.custom-calendar .rdp-day_today {
  border: 1px solid #1d4ed8;
}

/* Custom Calendar Styles End */